/* Material Icon font and relevant class for styling */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/MaterialIcons-Regular.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template: minmax(120px, 1fr) 4fr / minmax(175px, 1fr) 4fr;

  min-height: 100vh;
  min-width: 100vw;
}

.sidebar {
  grid-row: 1 / -1;
  grid-column: 1;

  background-color: salmon;
}


.header {
  grid: 1 / 2 -1;
  background-color: cornflowerblue;
}

.main-content {
  grid: 2 / 2;
  background-color: maroon;
}
