/* --- --- --- --- --- --- IMPORTS --- --- --- --- --- --- */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Regular.ttf);
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Outlined.otf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: "PT Sans";
  src: url(./assets/fonts/PTSans-Regular.ttf);
}

/* --- --- --- --- --- --- GENERAL SELECTORS --- --- --- --- --- --- */
:root {
  --default-fonts: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}  

button, input {
  font: inherit;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
  display: grid;
  grid-template: min-content 1fr / minmax(min-content, 0.85fr) 4fr;

  height: 100vh;
  min-width: 100vw;

  font-family: "PT Sans", sans-serif;
}

.profile {
  width: 35px;
  height: 35px;

  border: 3px solid white;
  border-radius: 30px;
  background-color: white;
}

/* --- --- --- --- --- --- SIDEBAR --- --- --- --- --- --- */
.sidebar {
  grid-row: 1 / -1;
  grid-column: 1;

  background-color: salmon;

  /* flexbox would be the better choice here, but grid is used because
  the purpose of this project is to practice grid */
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
  gap: 40px;
}

.logo, .sidebar li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  padding: 16px;
}

.logo > span {
  font-size: 36px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.sidebar li {
  padding: 12px;
  padding-left: 20px;
}

.sidebar li:hover {
  border-left: 4px solid black;
  padding-left: calc(20px - 4px);

  background-color: rgb(206, 104, 93);

  cursor: pointer;
}

.sidebar p {
  font-weight: bold;
  font-size: 20px;
}

/* --- --- --- --- --- --- HEADER --- --- --- --- --- --- */
.header {
  grid-row: 1;
  grid-column: 2 / -1;
  
  background-color: cornflowerblue;
  padding: 16px 36px;

  display: grid;
  grid-template: repeat(2, min-content) / 3fr 2fr;
  row-gap: 16px;
  column-gap: 8px;
}

.header p, .actions button {
  font-weight: bold;
}

.header p {
  white-space: nowrap;
}

.account {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

#notifications {
  font-family: "Material Icons Outlined";
}

.welcome {
  display: grid;
  grid-template: "profile upper" min-content
                 "profile lower" min-content / min-content auto;
  align-items: center;
  column-gap: 8px;
}

.welcome .profile {
  width: 55px;
  height: 55px;

  grid-area: profile;
}

.upper {
  grid-area: upper;
  align-self: end;

  font-size: 14px;
}

.lower {
  grid-area: lower;
  align-self: start;

  font-size: 20px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.actions button {
  font-family: "PT Sans", sans-serif;
  width: 95px;
  padding: 8px 0;
  background-color: dimgrey;

  border-radius: 24px;
}

/* --- --- --- --- --- --- MAIN CONTENT --- --- --- --- --- --- */
.main-content {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  background-color: maroon;
}
